/* CSS For adding custom Windows */
/*  Window for Strategic Plans */
:root {
--md-admonition-icon-strategic-plan: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m6.91 5.5 2.3 2.29-1.42 1.42-2.29-2.3-2.29 2.3-1.42-1.42 2.3-2.29-2.3-2.29 1.42-1.42 2.29 2.3 2.29-2.3 1.42 1.42m13 13-1.42-1.42-2.29 2.3-2.29-2.3-1.42 1.42 2.3 2.29-2.3 2.29 1.42 1.42 2.29-2.3 2.29 2.3 1.42-1.42-2.3-2.29m.49-11.67L17.18 11 15.6 9.73l1.17-1.5a9.08 9.08 0 0 0-6.66 5.62A4.5 4.5 0 1 1 7.5 13a4 4 0 0 1 .78.08 11.27 11.27 0 0 1 8.15-6.82L15 5.18l1.27-1.58M10 17.5A2.5 2.5 0 1 0 7.5 20a2.5 2.5 0 0 0 2.5-2.5Z"/></svg>')
}
.md-typeset .admonition.strategic-plan,
.md-typeset details.strategic-plan {
border-color: rgb(155, 47, 43);
}
.md-typeset .strategic-plan > .admonition-title,
.md-typeset .strategic-plan > summary {
background-color: rgb(155, 47, 43, 0.1);
}
.md-typeset .strategic-plan > .admonition-title::before,
.md-typeset .strategic-plan > summary::before {
background-color: rgb(155, 47, 43);
-webkit-mask-image: var(--md-admonition-icon-strategic-plan);
        mask-image: var(--md-admonition-icon-strategic-plan);
}

/* Window for Labbooks*/
:root {
--md-admonition-icon-labbook: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8 8.807V3.5h-.563a.75.75 0 0 1 0-1.5h9.125a.75.75 0 0 1 0 1.5H16v5.307l5.125 9.301c.964 1.75-.302 3.892-2.299 3.892H5.174c-1.998 0-3.263-2.142-2.3-3.892ZM4.189 18.832a1.123 1.123 0 0 0 .985 1.668h13.652a1.123 1.123 0 0 0 .985-1.668L17.7 15H6.3ZM14.5 3.5h-5V9a.75.75 0 0 1-.093.362L7.127 13.5h9.746l-2.28-4.138A.75.75 0 0 1 14.5 9Z"/></svg>')
}
.md-typeset .admonition.labbook,
.md-typeset details.labbook {
border-color: rgb(43, 78, 155);
}
.md-typeset .labbook > .admonition-title,
.md-typeset .labbook > summary {
background-color: rgb(43, 78, 155, 0.1);
}
.md-typeset .labbook > .admonition-title::before,
.md-typeset .labbook > summary::before {
background-color: rgb(43, 78, 155);
-webkit-mask-image: var(--md-admonition-icon-labbook);
        mask-image: var(--md-admonition-icon-labbook);
}